body 
{ 
	background-color: #FFFFFF;
    color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}
header 
{ 
	background-color: #000033;
    color: #FFFFFF; 
	background-image: url(../images/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat; 
	line-height: 400%;
	text-indent: 1em;
}


/** 	NAVIGATION		**/
nav
{ 
	background-color: #90C7E3;
    font-weight: bold;
}

nav ul
{ 
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul 
{ 
	list-style-image: url(../images/marker.gif); 
} 


/**		FONT SIZES		**/

h1 
{ 
	margin-bottom: 0; 
    font-family: Georgia, 'Times New Roman', serif; 
}
	
h2 
{ 
	color: #3399CC; 
    font-family: Georgia, 'Times New Roman', serif; 
}
	 
h3 
{ 
	color: #000033;
    font-family: Georgia, 'Times New Roman', serif; 
}

footer 
{ 
	font-size: 75%;
    font-weight: bold;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	background: linear-gradient(rgba(255,255,255,1), rgba(144,199,227,1))
}
	   
dt 
{ 
	color: #000033; 
}

/**		Classes		**/

.resort
{ 
	color: #5c7fa3; 
    font-weight: bold;
}

.contact
{ 
	font-size: 90%; 
}

/**		MEDIA QUERY		**/

/* Tablet viewport */
@media screen and (min-width: 641px) 
{
	img
	{
		display: block;
		max-width: 100%;
	}
	h2 {
		display: block;
	}

	nav ul li{
		display: inline;
	}

}/* end Table viewport */

/* Mobile viewport */
@media screen and (max-width: 641px) 
{
	img {
		display: none;
	}

	h2 {
		display: none;
	}

	nav {
		display: block;
	}
}/* end Mobile viewport */