/*** HEADERS ***/

#red {
    font-family: 'Anton', 'Times New Roman', 'sans-serif';
    background-color: #A8D6EB;
}

#green {
    background-color: #AEF0CC;
}

#blue {
    background-color:#E3ADB9;
}