/* Header */

#header {
    margin: auto;
    padding: 40px 0px 80px 0px;
    width: 93%;
    height: 260px;
    display: flex;
}

.hpiece {
    background-color: rgb(10, 10, 10);
    padding: 20px 0px 0px 0px;
    margin-right: 20px;
}
.hpiece:last-child {
    margin-right: 0px;
}

#hpiece1 {
    border: gray 1px solid;
    width: 70%;
    text-align: left;
}

#containtext {
    margin: auto;
    display: flex;
    justify-content: center;
}

#hpiece2 {
    border: gray 1px solid;
    width: 30%;
}

.hpiece h1, p{
    text-align: left;
    text-indent: 40px;
}

/* Footer */

#footerbg {
    background-color: rgb(10, 10, 10);
    border: gray 1px solid;
    margin: auto;
    width: 93%;
    padding: 40px 0px 40px 0px;
}

footer {
    font-family: 'GeistMono-Thin', "Arial", sans-serif;
    width: 90%;
    margin: auto;
}

footer h3 {
    font-family: 'GeistMono-Thin', "Arial", sans-serif;
    color: rgb(207, 207, 207);
    text-align: center;
}


/*CUSTOM FONTS*/

@font-face {
    font-family: 'GeistMono-Medium';
    src: url('font/GeistMono-Medium.woff2') format('woff2'),
         url('font/GeistMono-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono-Bold';
    src: url('font/GeistMono-Bold.woff2') format('woff2'),
         url('font/GeistMono-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono-Black';
    src: url('font/GeistMono-Black.woff2') format('woff2'),
         url('font/GeistMono-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono-Regular';
    src: url('font/GeistMono-Regular.woff2') format('woff2'),
         url('font/GeistMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono-Thin';
    src: url('font/GeistMono-Thin.woff2') format('woff2'),
         url('font/GeistMono-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*END CUSTOM FONTS*/