/*
    COLORS::
    body copy: #ffffff
    secondary copy: #aa9682
    link: #e7bd94
    background: #181818
    section background: #101010
    border: #898989
*/

/* Experience Section */

.rightlink {
    width: 100%;
    display: flex;
    align-items: center;
}
.rightlink h2{
    width: 80%;
}
.rightlink div {
    width: 5%;
}

#resume {
    margin-bottom: 5%;
    text-align: center;
    justify-content: right;

    font-family: 'VanguardCFMedium', "Arial", sans-serif;
    font-size: 24pt;
    background-color: #101010;
    color: #ffffff;
    border: #898989 1px solid;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    width: 15%;

    text-decoration: none;
    transition: all 0.1s ease-out;
}
#resume:hover {
    background-color: #181818;
    border: #e7bd94 1px solid;
    color: #e7bd94;
    text-decoration: underline;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px,
                 rgba(0, 0, 0, 0.7) 0px 10px 10px,
                 rgba(139, 139, 139, 0.1) 0px 0px 2px;
    transform: translateY(-1px);
}

.expbg {
    width: 100%;
    background-color: #101010;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    padding: 60px 0px 60px 0px;
    border-radius: 10px;
}

.expcontainer {
    width: 90%;
    position: relative;
    margin: auto;
}

.expbox {
    height: 100%;
    width: 100%;
    margin-bottom: 2%;
    padding-bottom: 40px;

    background-color: #101010;
    border-radius: 10px;
    border: #aa9682 1px solid;

    transition: all 0.1s ease-out;
}
.expbox p, h3 {
    margin-left: 3%;
}
.expbox p:first-child {
    margin-top: 4%;
}
.expbox:hover {
    background-color: #121212;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px,
                rgba(0, 0, 0, 0.9) 0px 10px 20px;
    transform: translateY(-1px);
}

.jobTitle {
    font-family: 'GeistMonoMedium', "Arial", sans-serif;
    margin-bottom: 2%;
    margin-top: 2%;
}

/* Education section */

.classestable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2%;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 2.5%;
    padding-right: 2.5%;

    font-family: 'GeistMonoRegular', "Arial", sans-serif;
    background-color: #101010;
    border: #aa9682 1px solid;
    border-radius: 10px;

    transition: all 0.1s ease-out;
}
.classestable:hover {
    background-color: #121212;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px,
                rgba(0, 0, 0, 0.9) 0px 20px 50px;
    transform: translateY(-1px);
}

thead th{
    font-family: 'VanguardCFRegular', "Arial", sans-serif;
    font-size: 36pt;
    text-align: center;
    letter-spacing: 1px;

    border: none;
    padding-bottom: 40px;
}

th {
    font-family: 'GeistMonoThin', "Arial", sans-serif;
    font-size: 16pt;
    color: white;
    border: gray 1px solid;
    border-radius: 5px;
    text-align: left;

    padding-left: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
}

tbody {
    color: #aa9682;
    font-size: 13pt;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.sy:nth-child(odd), .fy:nth-child(even) {
    background: #181818;
}

td:first-child, th:first-child {
    width: 20%;
    text-align: left;
}

td:nth-child(2), th:nth-child(2) {
    width: 40%;
    text-align: center;
}

td:nth-child(3), th:nth-child(3) {
    width: 20%;
    text-align: right;
}