


#outerwrapper {

	margin-left: auto;
	margin-right: auto;
	width: 70%;
} 

body {
	background-color: #B8D1EB;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
}

main {
	background-color: #C5A98B;
	padding: 10px;
}

nav ul {
	list-style: none;
}

main ul {
	list-style-image: url(cssimage/tomato.png);
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 40px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
}

.floatleft { 
	float: left;
	margin-right: 3%;

}

.floatright {
	float: right;

}

main, footer { 
	clear: both;
}

footer {
	text-align: center;
	font-size: .75em;
	background-color: #796B48;
	padding: 10px;
}


