@font-face {
    font-family: 'vanguard_cflight';
    src: url('../fonts/VanguardUsed/fontspring-demo-vanguardcf-light-webfont.woff2') format('woff2'),
         url('../fonts/VanguardUsed/fontspring-demo-vanguardcf-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footername {
    font-family: 'vanguard_cflight', "Arial", sans-serif;
    font-size: 30px;
}

.footerspace {
    height: 100px;
}

.textspace {
    height: 100px;
    width: 600px;
    margin: auto;
}

footer {
    clear: right;
    background-color: #111111;
    margin: auto;
}

.footerlinks {
    float: right;
    list-style-type: none;
    padding: 5px;
}