.menu {
    font-family:'vanguard_cfdemibold', 'Arial', sans-serif;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #101010;
    width: 560px;
    border-radius: 8px;
}

.menu li {
    font-size: 20px;
    float: left;
}

/* .menu li:last-child {
    border-right:none;
} */

.menu li a {
    display: block;
    color: #E1B34A;
    text-align: center;
    padding: 20px 75px 0px 15px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    color: #ffffff;
}

.menu.active {
    background-color: #1c2541;
}
