/*Christian Murdock
February 20, 2025 */


/*WEBSITE COLOR SCHEME:

White for text: #FFFFFF;
Beige for headers: #E7BD94;
Yellow for links: #E1B34A;
Black for main background: #181818;
Black for footer, menu, and containers: #101010;

/* ***FONTS*** */

@font-face {
    font-family: 'vanguard_cfbold';
    src: url('../fonts/VanguardUsed/fontspring-demo-vanguardcf-bold-webfont.woff2') format('woff2'),
         url('../fonts/VanguardUsed/fontspring-demo-vanguardcf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vanguard_cflight';
    src: url('../fonts/VanguardUsed/fontspring-demo-vanguardcf-light-webfont.woff2') format('woff2'),
         url('../fonts/VanguardUsed/fontspring-demo-vanguardcf-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vanguard_cfdemibold';
    src: url('../fonts/VanguardUsed/fontspring-demo-vanguardcf-demibold-webfont.woff2') format('woff2'),
         url('../fonts/VanguardUsed/fontspring-demo-vanguardcf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ***MAIN*** */

html {
    background-color: #181818;
    color: white;
    font-family: "Arial", sans-serif;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin: auto;
    width: 600px;
}


.indexh1 {
    font-size: 110px;
    text-align: left;
}

h1 {
    font-family: 'vanguard_cfbold', "Arial", sans-serif;
    font-size: 150px;
    text-align: center;
}

/* h2  {
    font-family: 'vanguard_cfdemibold', "Arial", sans-serif;
    font-size: 60px;
} */

/* ***LINKS*** */

a {
    color: white;
}

a:link {
    color: #E1B34A;
}

a:hover {
    color:white;
}

/* ***IMAGES***  */

.banner {
    width: 600px;
    margin: auto;
}

/* ***TABLE*** */

.classestable {
    width: 600px;
    margin: auto;
    border: 1px solid wh
}

.classestable caption{
    color: white;
}

thead th {
    border:0px solid #ffffff;
    border-collapse:collapse;
    padding:5px;
    width: 800px;
    text-align: left;
    color: #E7BD94;
    background-color: #101010;
}

tbody {
    background-color: #101010;
}

tbody th {
    border:0px solid #b3adad;
    padding:5px;
    background: #000000;
    color: #ffffff;
    text-align: left;
}
tbody td {
    border:0px solid #b3adad;
    text-align:center;
    padding:5px;;
    color: #ffffff;
    text-align: left;
}

caption {
    color: #000000;
    font-size: 24px;
    padding: 12px;
}

thead {
    background-color: #5bc0be;
}

tr:nth-child(even) {
    background: #000000;
}

/* ***TEXT*** */

.intro { 
    font-size: 24px;
    color: rgb(3, 184, 184);
    padding: 20px 60px;
    text-align: left;
}

.highlight {
    background-color: rgb(148, 234, 255);
    padding: 2px;
}

/* ***CONTACT FORM*** */

fieldset {
    border: 0px solid;
    border-radius: 8px;
    background-color: #101010;
    padding: 20px 20px 40px 20px;
}

.contactheader {
    font-family: 'vanguard_cfdemibold', "Arial", sans-serif;
    font-size: 36px;
    text-align: center;
}

#compName {
    float: right;
    width: 70%;
}

#email {
    float: right;
    width: 70%;
}

#phone {
    float: right;
    width: 70%;
}

.contactboxes {
    padding: 10px
}


#prepare {
    width: 96%;
    padding: 10px 10px 50px 10px;
}

.prepare {
    padding-bottom: 30px;
}

.btn {
    font-family: 'vanguard_cfbold', "Arial", sans-serif;
    font-size: 40px;
    background-color:#E1B34A;
    color: #101010;
    width: 200px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px 50px 15px 50px;
}

.btn:hover {
    background-color: #ffffff;
}




