/* css used to style experience.html */
/*   display project examples        */

    .projectExamples {
        width: 100%;
        margin: 0 auto;
    }

    .projectBox {
        background: #FFFFFF;
        border: 1px solid #000000;
        float: left;
        margin: 5px;
        text-align: center;
        width: 32%;
    }

    .projectBox h4.semester {
        background:#1c2541; 
        color: #FFFFFF;
        padding: 15px;
    }

    .projectBox img {
        margin-bottom: 20px;
        width: 70%;
    }

    .projectBox a.button {
        display: block;
        width: 40%;
        margin: 10px auto;
        color: #000000;
        background: #a4e7dd;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        border-radius: 15px;
        padding: 1px;
    }